/* Estilos gerais da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  margin: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h2 {
  color: #333;
}

/* Estilos da lista de alunos */
#alunos-list ul {
  list-style: none;
  padding: 0;
}

#alunos-list li {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

/* Estilos do formulário de adicionar/editar aluno */
#aluno-form form {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#aluno-form label {
  display: block;
  margin-top: 10px;
}

#aluno-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#aluno-form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 3px;
  cursor: pointer;
}

#aluno-form button:hover {
  background-color: #555;
}

/* Estilos do rodapé */
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
}

/* Estilos para tornar a página responsiva (opcional) */
@media (max-width: 768px) {
  main {
      padding: 10px;
  }
  #alunos-list li, #aluno-form form {
      margin: 0;
  }
  #aluno-form label {
      margin-top: 5px;
  }
}
